body{
display: flex;
justify-content: center;
    background-color: black;
    margin-top: 2rem;
    margin-bottom: 2rem;
    margin-left: 4em;
    margin-right: 4em;
}

main{ display: flex;
    justify-content: row;
    background-color: white ;
    padding: 1rem;
}

header{
    background-color: rgb(70, 70, 204);
    border: solid black .2rem;
    padding: 1rem;
    font-size: 25pt;
    color: white;}

footer{
    background-color:  rgb(70, 70, 204);
    border: solid black .2rem;
    padding: 1rem;
    color: white;
}
.information{
    padding: .5rem;
    width: 60%;
    margin-left: 8em;
    margin-right: .5em;
} 
.information p {
    text-align: left;
    padding: 1.5em;
    font-size: 11pt;
    margin: auto;
}
.information h1{
    margin-top: .5em;
    margin-bottom: .5em;
    font-size: 22pt;
}

.image-box{
    padding: 1em;
    width: 30%;
    margin-left: .5em;
    margin-right: 1em;
    
}

.image-box h1{
    margin-top: 3rem;
    padding: 2em;
    background-color: rgb(70, 70, 204);
    color: white;
}
.blank{
    background-color: rgb(77, 129, 240);
    padding: .5em;
}
.container{
    border: solid white .1rem;
    width: 65%;
}
.text-center{
    text-align: center;
}
.text-right{
    text-align: right;
}
.text-left{
    text-align: left;
}